.category-header:hover {
    color: grey;
    cursor: pointer;
}

.category-box {
    display: grid;
    padding: 10px;
    text-align: left;
    width: 900px;
}

.category {
    padding: 10px;
    border-width: 1px;
    margin: 2px;
    border-style: solid;
    text-align: left;
    display: grid;
    width: 876px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}