.item-container {
    display: grid;
}

.item {
    background-color: plum;
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
}