.subcategory-header:hover {
    color: grey;
    cursor: pointer;
}

.subcategory-header {
}
.subcategory-container {
    display: grid;
}

.subcategory {
    margin: 5px;
    padding: 5px;
    /* border-width: 1px; */
    /* border-style: solid; */
    text-align: left;
    display: grid;
    width: 844px;
    /* grid-template-columns: auto auto auto auto; */
}