.App {
  text-align: center;
  background-color: #f4f4f4;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: auto;
  width: 900px;
  background-color: #f4f4f4;
}

.App-link {
  color: #09d3ac;
}

.header {
  padding-top: .5em;
  padding-left: 10px;
	padding-bottom: .5em;
  border-bottom: 1px solid #a2a2a2;
  
  /* border: 1px solid #a2a2a2; */
	/* background-color: #f4f4f4; */
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	/* -webkit-border-radius: 5px; */
	/* -moz-border-radius: 5px; */
  /* border-radius: 5px; */
  height: 60px

}

.header #logo {
  float: left;
  font-size: 30px;
}

#login {
  display: flex;
  justify-content: flex-end;
}

.welcome {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.items {
  display: flex;
  flex-direction: column;
}

.user-options {
  margin-top: 5px;
}


